body{
	background: #989898;
}
.logo{
	width:226px;
	height: 106px;
	margin: 0 auto;
	background: url(img/logo_icon.png);
}

.phone{
	width:300px;
	height: 50px;
	margin:0 auto;
	margin-top: 40px;
}
#passwords
{
	width:300px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
}

#phonenumber{
	width: 300px;
	height: 50px;
    background: #cbcbcb;
    border: none;
}
#PassWord{
	width: 300px;
	height: 50px;
	  background: #cbcbcb;
	  border: none;
}
#next{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	display: block;
	background:#25292e;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
